.header-logo-container {
    font-size: 30px;
    font-weight: bold;
}

.logo-p1 {
    color: #85810E;
}

.logo-p2 {
    color: #2aa061;
}

.header-container {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3a2430;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
